
.icon-right:before { content: '\e800'; } /* '' */
.icon-down:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-location-outline:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
